html {
    margin: 0;
    padding: 0;
}

body {
    width: 100vw;
    height: 100vh;
}

#my-picture {
    width: 250px;
    padding: 8px;
    border-radius: 300px;
    background-color: #0f2027;
    box-shadow: -5px 4px 4px rgb(0 0 0 / 78%);
}

#container-home {
    background: linear-gradient(to bottom, #0f2027, #203a43, #2c5364);
    height: 100%;
}

#nav-bar {
    background-color:rgb(18 36 44);
}

.li-navbar:hover {
    transform: scale(1.05);
    transition: all 0.5s;
}

#my-name {
    font-family: 'Assistant', sans-serif;
    font-size: 40px;
    color: white;
    text-shadow: -5px 4px 4px rgb(0 0 0 / 78%);
}

.social-media {
    text-decoration: none;
    color: white;
    text-shadow: -5px 4px 4px rgb(0 0 0 / 78%);
}

.social-media:hover {
    transform: scale(1.1);
    transition: all 0.5s;
    color: yellow;
}

#container-about-me {
    background: white;
    height: 100%;
}

#personal_picture {
    width: 350px;
}





#container-projects {
    background: #0f2027;
    /* height: 100%; */
    color: white;
    padding: 50px 0;
}

h5 {
    font-size: 14px;
    color: black;
}

.card-body {
    padding: 10px;
    flex-direction: column;
    display: flex;
    justify-content: center;
}

.card:hover {
    transform: scale(1.1);
    transition: all 0.5s;
}

#container-projects div h2 {
    padding: 10px 0px 30px 0px;
}