* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Noto Sans Balinese', sans-serif;
}

body {
    min-height: 100vh;
    max-width: 100vw;
}

.container-shadow {
    -webkit-box-shadow: -23px 21px 15px 17px rgba(0,0,0,0.85); 
    box-shadow: -23px 21px 15px 17px rgba(0,0,0,0.85);
}

.container-nav-bar {
    background-color: #12252c;
    position: fixed;
    width: 100vw;
    display: flex;
    flex-direction: row;
    padding: 0px 100px;
}

.ul-nav-bar {
    width: 70%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
}

.li-nav-bar {
    margin: 10px 30px;
    font-size: 18px;
    list-style-type: none;
}

.container-icons {
    width: 30%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.icon {
    margin: 10px 30px;
}

.li-nav-bar a {
    text-decoration: none;
    color: white;
}

.container-home {
    display: flex;
    /* background: linear-gradient(45deg, #0A9A86 0%, #165680 50%, #000000 100%); */
    justify-content: space-around;
    height: 100vh;
    width: 100vw;
    background: #0f2027; /* fallback for old browsers */
    background: -webkit-linear-gradient(to bottom, #0f2027, #203a43, #2c5364); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to bottom, #0f2027, #203a43, #2c5364); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.container-text-icons {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    align-items: center;
}   

.div-home-text {
    font-size: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    text-shadow: -13px 8px 6px #000000;
}

.div-my-picture {
    align-items: center;
    justify-content: flex-end;
    display: flex;
}

#my-picture {
    width: 500px;
    border-radius: 300px;
    -webkit-box-shadow: -29px 21px 20px 14px rgba(0,0,0,0.78); 
    box-shadow: -29px 21px 20px 14px rgba(0,0,0,0.78);
}

.container-about-me {
    background-color: #255b72;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    height: 100vh;
    width: 100vw;
}

.about-me {
    color: white;
    font-size: 20px;
    display: flex;
}

.h1-about-me {
    width: 30%;
    padding: 30px;
    display: flex;
    align-content: center;
    justify-content: center;
    align-items: center;
}

.p-about-me {
    width: 50%;
    text-align: justify;
}

.container-certificates {
    display: flex;
    align-items: center;
    justify-content: center;
    /* background-color: rgb(15, 15, 15); */
    color: rgb(112, 112, 112);
    width: 100vw;
}

.div-certificates {
    width: 80%;
    height: 100%;
}

.h1-div-certificates {
    text-align: center;
    margin: 30px;
    font-size: 20px;
}

.doing {
    text-align: start;
    width: 100%;
    padding: 30px 0px;
}

.finished {
    text-align: start;
    width: 100%;
    padding: 30px 0px;
}

.container-experiences {
    /* background-color: black; */
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px 0px;
    height: 100vh;
    width: 100vw;
}

.h1-text {
    color: rgb(88, 88, 88);
    font-size: 20px;
    width: 80%;
    display: flex;
    justify-content: center;
    padding: 20px 0px;
}

.experience {
    color: rgb(88, 88, 88);
    width: 80%;
    padding: 20px 0px;
}

footer {

}

 /* smartphones, portrait iPhone, portrait 480x320 phones (Android) */ 
@media (min-width:320px) {
    
}

/* smartphones, Android phones, landscape iPhone */
@media (min-width:480px) {}

/* portrait tablets, portrait iPad, e-readers (Nook/Kindle), landscape 800x480 phones (Android) */
@media (min-width:600px) {}

/* tablet, landscape iPad, lo-res laptops ands desktops */
@media (min-width:801px) {}

/* big landscape tablets, laptops, and desktops */
@media (min-width:1025px) {}

/* hi-res laptops and desktops */
@media (min-width:1281px) {}