* {
    padding: 0;
    margin: 0;
    font-family: 'Assistant', sans-serif;
    font-size: 18px;
}

body {
    height: 100vh;
    width: 100vw;
}

.header {
    background-color: rgb(18 36 44);
    position: fixed;
    top: 0;
    width: 100%;
    height: 5%;
    display: flex;
    align-items: center;
    justify-content: center;

}

.header a {
    color: white;
    text-align: center;
    text-decoration: none;
    margin: 0 35px;
}

.header a:hover {
    text-decoration: overline;
}

.header-center {
    display: flex;

}

.container-home {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    background-color: rgb(18, 36, 44);
    flex-direction: column;
}

#mainPicture {
    width: 300px;
    padding: 8px;
    border-radius: 50%;
    background-color: #243840;
    box-shadow: -5px 4px 4px rgb(0 0 0 / 78%);
}

.info {
    margin: 30px 0px 0px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.info div h1 {
    color: white;
    font-size: 40px;
}

.info div a {
    color: white;
    text-align: center;
    text-decoration: none;
    margin: 0 35px;
}

.info div a:hover {
    text-decoration: underline;
}

.container-career {
    background-color: rgb(40, 54, 54);
    height: 100%;
}

.info div a {
    margin: 0 25px;
}

#menu {
    z-index: 2;
}

#menu-bar {
    width: 45px;
    height: 40px;
    margin: 30px 0 20px 20px;
    cursor: pointer;
}

.bar {
    height: 5px;
    width: 100%;
    background-color: #2b505e;
    display: block;
    border-radius: 5px;
    transition: 0.3s ease;
}

#bar1 {
    transform: translateY(-4px);
}

#bar3 {
    transform: translateY(4px);
}

.nav {
    transition: 0.3s ease;
    display: none;
}

.nav ul {
    padding: 0 22px;
}

.nav li {
    list-style: none;
    padding: 12px 0;
}

.nav li a {
    color: white;
    text-decoration: none;
}

.nav li a:hover {
    font-weight: bold;
}

.menu-bg,
#menu {
    top: 0;
    left: 0;
    position: absolute;
}

.menu-bg {
    z-index: 1;
    width: 0;
    height: 0;
    margin: 30px 0 20px 20px;
    background: radial-gradient(circle, #162a31, #2b505e);
    border-radius: 50%;
    transition: 0.3s ease;
}

.change {
    display: block;
}

.change .bar {
    background-color: white;
}

.change #bar1 {
    transform: translateY(4px) rotateZ(-45deg);
}

.change #bar2 {
    opacity: 0;
}

.change #bar3 {
    transform: translateY(-6px) rotateZ(45deg);
}

.change-bg {
    width: 720px;
    height: 660px;
    transform: translate(-60%, -30%);
}

.container-about-me {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.about-me {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 70%;
}

#astronauta {
    width: 500px;
}

.text-about-me div h2 {
    font-size: 40px;
    margin: 20px 0px;
}

.text-about-me div p {
    margin-bottom: 10px;
}

.text-about-me div ul {
    margin-left: 20px;
}

.container-projects {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    flex-wrap: wrap;
    background: #12242c;
    padding: 150px 0px;
}

.title-projects {
    margin-bottom: 40px;
    color: white;
}

h2 {
    font-size: 40px;
}

.all-projects {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.card {
    display: flex;
    background: white;
    border-radius: 10px;
    text-align: center;
    margin: 15px;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
}

.card img {
    width: 200px;
    border-radius: 10px 10px 0px 0px;
}

.card div h5 {
    font-size: 15px;
    margin: 10px;
}

.container-skills {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.container-h2 {
    margin: 40px;
}

.all-skills {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    width: 100%;
}

.card-skills {
    width: 30%;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 2px 2px 10px rgb(0 0 0 / 10%);
    margin: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card-skills:hover {
    /* transform: scale(1.1); */
    transition: all 0.9s;
    color: rgb(255 255 255);
    background-color: #12242c;
}

h3 {
    font-size: 25px;
}

.card-title-skills {
    font-weight: bold;
    margin-bottom: 20px;
}

.card-content-skills {
    font-size: 14px;
    line-height: 1.5;
    list-style: none;
}

.card-content-skills ul {
    list-style: none;
    text-align: center;
}


.container {
    width: 80%;
    margin: 20px auto;
  }
  
  .section-title {
    text-align: center;
    margin-bottom: 40px;
    font-size: 24px;
    font-weight: bold;
  }
  
  .card-group {
    display: flex;
    justify-content: space-between;
  }
  
  .card {
    width: calc(50% - 20px);
    background-color: lightgray;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 40px;
  }
  
  .card-title {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 20px;
  }
  
  .card-list {
    list-style: none;
    margin-left: 0;
    padding-left: 0;
  }
  
  .card-list li {
    font-size: 14px;
    margin-bottom: 10px;
  }

  .container-certificates {
    background-color: rgb(255, 255, 255);
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.card-certificates {
    width: auto;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 2px 2px 10px rgb(0 0 0 / 10%);
    margin: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card-certificates:hover {
    /* transform: scale(1.1); */
    transition: all 0.9s;
    color: rgb(255 255 255);
    background-color: #12242c;
}

/* 
  ##Device = Desktops
  ##Screen = 1281px to higher resolution desktops
*/

@media (min-width: 1281px) {

    #menu {
        display: none;
    }

    .menu-bg {
        display: none;
    }


}

/* 
    ##Device = Laptops, Desktops
    ##Screen = B/w 1025px to 1280px
  */

@media (min-width: 1025px) and (max-width: 1280px) {

    #menu {
        display: none;
    }

    .menu-bg {
        display: none;
    }

}

/* 
    ##Device = Tablets, Ipads (portrait)
    ##Screen = B/w 768px to 1024px
  */

@media (min-width: 768px) and (max-width: 1024px) {

    #menu {
        display: none;
    }

    .menu-bg {
        display: none;
    }

}

/* 
    ##Device = Tablets, Ipads (landscape)
    ##Screen = B/w 768px to 1024px
  */

@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {

    #menu {
        display: none;
    }

    .menu-bg {
        display: none;
    }
}

/* 
    ##Device = Low Resolution Tablets, Mobiles (Landscape)
    ##Screen = B/w 481px to 767px
  */

@media (min-width: 481px) and (max-width: 767px) {

    .header {
        display: none;
    }

}

/* 
    ##Device = Most of the Smartphones Mobiles (Portrait)
    ##Screen = B/w 320px to 479px
  */

@media (min-width: 320px) and (max-width: 480px) {

    .header {
        display: none;
    }

    .info div h1 {
        font-size: 27px;
    }

    .info div a {
        margin: 0 15px;
    }

}