* {
    margin: 0;
    padding: 0;
    
}

header {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
}

/* Style for the links in the header */
header a {
    color: #fff;
    margin: 0 10px;
    text-decoration: none;
}

/* Style for the sections */
section {
    min-height: 100vh;
    width: 100%;
    padding: 50px 0;
    box-sizing: border-box;
}

/* Style for the content of the sections */
section h2 {
    font-size: 3rem;
    text-align: center;
    margin-bottom: 20px;
}

section p {
    font-size: 1.5rem;
    text-align: center;
    line-height: 2;
    margin: 0 auto;
    max-width: 800px;
}