html {
    margin: 0;
    padding: 0;
}

body {
    width: 100vw;
    height: 100vh;
}

#my-picture {
    width: 250px;
    padding: 8px;
    border-radius: 300px;
    background-color: #0f2027;
    box-shadow: -5px 4px 4px rgb(0 0 0 / 78%);
}

#container-home {
    background: linear-gradient(to bottom, #0f2027, #203a43, #2c5364);
    height: 100%;
    padding-top: 100px;
}

#nav-bar {
    background-color: rgb(18 36 44);
}

.li-navbar:hover {
    transform: scale(1.05);
    transition: all 0.5s;
}

#my-name {
    font-family: 'Assistant', sans-serif;
    font-size: 40px;
    color: white;
    text-shadow: -5px 4px 4px rgb(0 0 0 / 78%);
}

.social-media {
    text-decoration: none;
    color: white;
    text-shadow: -5px 4px 4px rgb(0 0 0 / 78%);
}

.social-media:hover {
    transform: scale(1.1);
    transition: all 0.5s;
    color: rgb(33, 136, 105);
}

#container-about-me {
    background: white;
    min-height: 100vh;
    width: 100%;
}

#about-me {
    border: 5px solid #2c5263;
    border-radius: 0px 70px 0px 70px;
    padding: 30px;
    box-shadow: -15px 13px 6px 0px rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: -15px 13px 6px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: -15px 13px 6px 0px rgba(0, 0, 0, 0.75);
    /* background-color: #2c5263; */
    color: #203a43;
    width: 60%;
}

.img-me {
    width: 30%;
}

#personal_picture {
    width: 100%;
}

#container-projects {
    background: #0f2027;
    min-height: 100vh;
    color: white;
    padding: 50px 0;
}

.all-projects {
    width: 80%;
}

h5 {
    font-size: 14px;
    color: black;
}

.card-body {
    padding: 10px;
    flex-direction: column;
    display: flex;
    justify-content: center;
}

.card:hover {
    transform: scale(1.1);
    transition: all 0.5s;
}

#container-projects div h2 {
    padding: 10px 0px 30px 0px;
}

#container-skills {
    height: 100vh;
    background: rgb(255, 255, 255);
}

.soft-skills {
    background-color: #203a43;
    border-radius: 10px;
    color: white;
    margin: 20px;
    padding: 15px;
    width: 40%;
}

.soft-skills:hover {
    /* transform: scale(1.05); */
    transition: all 0.5s;
    background-color: #ffffff;
    color: #203a43;
    border: solid #203a43;
}

.div-all-skills {
    width: 100%;
}

.h4-skills {
    margin: 30px 0px;
}

#container-certificates {
    min-height: 100vh;
    background: #0f2027;
    color: white;
}

#container-career {
    background: white;
    color: #0f2027;
    min-height: 100vh;
}

summary {
    color: #32464e;
}

#container-footer {
    background-color: #0f2027;
    color: white;
}

footer p {
    margin: 0;
    font-size: 15px;
}